.video-links {
    margin-left: 1%;
}

.video-links button {
    margin: 10px;
}

.video-links button a {
    text-decoration: none;
}

.videoPlayer {
    display: inline-block;
}

.controls {
    margin: 10px;
    display: inline-block;
    position: absolute;
    margin-top: 10%;
}

.controls button {
    margin: 10px;
}